<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drinkify" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherdrink"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherdrink_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drinkify" >
        <activity
            android:name=".ui.FavDrinkActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.PreferenceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SearchableActivity"
            android:screenOrientation="portrait">

            <!-- This makes mainActivity into an searchable activity! -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.RandomizeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DrinkActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.SearchableActivity" />
        </activity>
    </application>

</manifest>